/* Lil' Helpers **/
.hidden { display: none }

/* Syntax Blast Rules  **/
body {
  background:
    repeating-linear-gradient( 45deg,#0000 calc(-650%/13) calc(50%/13),#69e54e 0 calc(100%/13),
    #0000 0 calc(150%/13),#69e54e 0 calc(200%/13),
    #0000 0 calc(250%/13),#69e54e 0 calc(300%/13)),repeating-linear-gradient( 45deg,#0000 calc(-650%/13) calc(50%/13),#69e54e 0 calc(100%/13),
    #0000 0 calc(150%/13),#69e54e 0 calc(200%/13),
    #0000 0 calc(250%/13),#69e54e 0 calc(300%/13)) 17px 17px,
    repeating-linear-gradient(-45deg,#0000 calc(-650%/13) calc(50%/13),#69e54e 0 calc(100%/13),
    #0000 0 calc(150%/13),#69e54e 0 calc(200%/13),
    #0000 0 calc(250%/13),#69e54e 0 calc(300%/13)),repeating-linear-gradient(-45deg,#0000 calc(-650%/13) calc(50%/13),#69e54e 0 calc(100%/13),
    #0000 0 calc(150%/13),#69e54e 0 calc(200%/13),
    #0000 0 calc(250%/13),#69e54e 0 calc(300%/13)) 17px 17px #050404;
  
  background-size: 34px 34px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: larger;
  text-align: center;
}

header {
  padding: 30px;
  margin-bottom: 15px;
}

#start-button {
  width: 475px;
  height: 70px;
  padding: 12px;
  border-radius: 12px;
  border: solid 5px darkviolet;
  background-color: #e3e3e8;
  color: indigo;
  font-size: xx-large;
  font-weight: 900;
  text-shadow: -5px 3px 5px lime, -7px 6px 10px #000;
  box-shadow: 0px -10px 15px teal inset, 0px 10px 10px #000;
}

#current-challenge {
  background-color: #ff5700;
  color: #222;
  padding: 30px;
  padding-bottom: 10px;
  display: block;
  margin: 10px auto;
  border: solid 3px #000;
  width: 4vw; /* up to 45 **/
  height: 10vh;
  font-size: 16px;
  font-weight: 700;
  transition: font-size .25s ease-in-out;
  border-radius: 12px;
  text-shadow:3px 3px 5px lime, -7px 7px 5px #000;
  box-shadow: 0px -10px 15px teal inset, 0px 10px 10px #000,
              inset 0px 25px 15px yellow, inset 0px 0px 15px red;
  opacity: 0;
}

#player-input {
  min-height:100px;
  width: 45vw;
  font-size: 2.5em;
  text-align: center;
  margin: 30px auto;
  padding: 15px;
  background-color:#0B0A0C;
  color: lime;
  font-family:'Courier New', Courier, monospace;
  border: dashed 5px #00dd70;
  border-radius: 15px;
  text-shadow: -5px 3px 5px #2d073a, -7px 6px 10px #000;
  box-shadow: 0px -10px 15px teal inset, 0px 10px 10px #000;
}

/* NOTE: remember that darkslategrey looks smooth behind the logo
  - think about this if/when I/we ever do themed levels <--- which
  - should definitely be a thing.

    THIS GAME IS A BIG KIDS HTML VANILLA JS NO FRAMEWORK PLAYGROUND OF
    - - - - - - - - - - - - - -  A R T - - - - - - - - - - - - - - - -
*/

#logo {
  width:  575px;
  height: 425px;
  padding: 30px;
}

#logo.mini {
  width:  225px;
  height: 125px;
  padding: 30px;
  position: absolute;
  left: 0;
}

#player-stats {
  padding: 10px;
  width: 275PX;;
  min-height: 35px;
  background-color:#0B0A0C;
  color: lime;
  font-family:'Courier New', Courier, monospace;
  margin: 15px;
  position: relative;
  left: 50vw;
  border: dashed 5px #00dd70;
  border-radius: 15px;
  text-shadow: -5px 3px 5px #2d073a, -7px 6px 10px #000;
  box-shadow: 0px -10px 15px teal inset, 0px 10px 10px #000;
}

#player-stats p {
  border-radius: 15px;
  opacity: 1;
  font-size: 1.25em;
  padding: 15px;
  text-align: justify;
}

/* Effects, CSS Animations, Tricks, & Aesthetics**/
/* .burst {
  width: 100px;
  aspect-ratio: 1;
  clip-path: polygon(100% 50%,89.92% 52.51%,99.61% 56.27%,89.29% 57.5%,98.43% 62.43%,88.04% 62.36%,96.49% 68.41%,86.19% 67.03%,93.82% 74.09%,83.77% 71.43%,90.45% 79.39%,80.82% 75.5%,86.45% 84.23%,77.38% 79.16%,81.87% 88.53%,73.51% 82.36%,76.79% 92.22%,69.27% 85.05%,71.29% 95.24%,64.72% 87.19%,65.45% 97.55%,59.95% 88.74%,59.37% 99.11%,55.01% 89.68%,53.14% 99.9%,50% 90%,46.86% 99.9%,44.99% 89.68%,40.63% 99.11%,40.05%
} */


